footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: #2C3642;
    box-shadow: var(--shadow);
    grid-column: span 2;
    margin: 0px
}

