.navBarList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: #2C3642;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }